.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  position: fixed; /* Ensure modal overlays the page */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  width: 60%;
  max-width: 800px;
  overflow-y: auto;
  border-radius: 12px;
  z-index: 1000;
  padding: 20px;
}

.photo-details-modal__content {
  position: relative;
}

.photo-details-modal__close-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -30px;
  left: -15px;
  z-index: 1100;
}

/* Full-Size Photo Styling */
.photo-details-modal__main-photo {
  margin: 20px auto;
  padding: 10px;
  border: 8px solid white;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #d3d3d3;
  position: relative; /* Needed for fav icon positioning */
}

.photo-details-modal__main-image {
  display: block;
  max-width: 100%;
  max-height: 500px; /* Ensure proper scaling for full-size image */
  object-fit: contain; /* Maintain aspect ratio */
  border-radius: 8px;
}

.photo-details-modal__fav-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1100;
  width: 24px; /* Appropriately sized */
  height: 24px;
  cursor: pointer;
}

.photo-details-modal__user-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.photo-details-modal__user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.photo-details-modal__user-info {
  font-size: 16px;
  font-weight: bold;
}

.photo-details-modal__user-location {
  font-size: 14px;
  color: #838383;
}

/* Similar Photos Section */
.photo-details-modal__similar-photos {
  margin-top: 20px;
}

.photo-details-modal__similar-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
