.photo-list__fav-icon {
  position: absolute; /* Positioned relative to the photo-list__item */
  top: 20px;
  left: 20px;
  width: 32px;
  height: 32px;
  background-color: #eeeeee; /* Light grey background */
  border-radius: 50%; /* Circular button */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Ensure it is on top */
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}


.photo-list__fav-icon-svg {
  width: 20px; /* Adjust size if necessary */
  height: 20px;
}

