.photo-list__item {
  position: relative; /* Ensures child elements like the favorite button can be absolutely positioned */
  margin: 16px;
  padding: 8px;
  border: 6px solid white; /* Thick white border */
  border-radius: 12px;
  background-color: #fff;
  max-width: fit-content;
  box-shadow: 0 0 0 1px #d3d3d3; /* Thin grey outline */
}

.photo-list__image {
  border-radius: 10px; /* Rounded corners for the photo */
  width: 300px;
  height: 200px;
  object-fit: cover;
  position: relative;
  z-index: 2; /* Ensure the photo appears above the stripes */
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: 4px;
  width: 40px;
  height: 40px;
}

.photo-list__user-details {
  display: flex;
}

.photo-list__user-info {
  margin-top: -5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}

.photo-list__user-location {
  color: #838383;
}




