.top-nav-bar__topic-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.topic-list__error {
  color: red;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}
