.topic-list-item {
  margin: 0 16px;
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent; /* Default underline is transparent */
  font-weight: bold;

  &:hover {
    border-top: 2px solid black; /* Underline on hover */
  }

  &.active {
    border-bottom: 2px solid #000; /* Active underline */
    font-weight: bold;
  }
  
}
